/* <!-----Media Qurey Mobile-------> */
body{
    margin: 0;
    padding: 0;
    min-width: 375px;
}
.navbar1{
    display: flex;
}
.navbar-wrapper img{
    margin: 0rem;
    height: 1rem;
    position: relative;
    top: 46px;
    left: 15px;
}
.navbar1{
    background-image: url(./Image/mobile-image-hero-1.jpg);
    width: 30rem;
    height: 24rem;
    background-size: cover;
}
.icon-link1{
    /* border: 2px solid; */
    background-color:hsl(0, 0%, 63%);
    display: flex;
    position:absolute;
    top: 20rem;
    left: 20rem;
}
.link-1{
    background-color: black;
    width: 4rem;
    height: 4rem;
}
.link-2{
    background-color: black;
    width: 4rem;
    height: 4rem;
}
.writeup-blog{
    font-family: 'Spartan', sans-serif;
    font-size: 500;
    overflow: auto;
    align-items: center;
    padding: 2rem;
}
.icon-link a{
    letter-spacing: 7px;
    text-decoration: none;
    color: black;
}
.navbar-wrapper2 img{
    width: 28rem;
}
.writeup-blog2 h1{
    font-family: 'Spartan', sans-serif;
    font-size:medium;
    overflow: auto;
    padding: 1rem;
}
.writeup-blog2 p{
    margin: 2rem;
    font-family: 'Spartan', sans-serif;
}
.navbar-wrapper3 img{
    width: 30rem;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
}
ul{
    display: flex;
    padding: 2rem;
}
.navbar-wrapper2 img{
    width: 30rem;
}

/* Desktop verison*/

@media (min-width: 1440px){
        body{
        margin: 0;
        padding: 0;
        max-width: 1440px;
    }

    ul li a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 2rem;
        font-size: 1rem;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    } 
    ul li{
        list-style-type: none;
    }

    ul{
        display: flex;
    }
    .navbar1{
        display: flex;
        padding-top: 4rem;
        padding-left: 10rem;
        width: 60%;
        background-image: url(/Image/image-hero1.jpg);
        height: 80vh;
        background-size: cover;
    }
    .navbar-wrapper{
        margin-right: 5rem;
    }
    .writeup-blog{
        width: 40%;
        padding: 3rem;
    }
    .contain-wrapper{
        display: flex;
    }
    .writeup-blog h1{
        margin-bottom: 4rem;
    }
    .contain-wrapper2{
        display: flex;
    }
    .writeup-blog2 h1{
        font-size:x-large;
        margin-top: 2rem;
        text-align: center;
    }
    .writeup-blog2 p{
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(180, 173, 173);
    text-align:center
    }
    .writeup-blog p{
        font-family: 'Roboto', sans-serif;
        color: rgb(180, 173, 173);
    }
    /* .icon-link{
        padding-top: rem;
    } */
    .icon-link a{
        text-decoration: none;
        text-align: center;
        color: rgb(212, 206, 206);
    }
    .writeup-blog h1{
        font-family: 'Roboto', sans-serif;
        font-size:xx-large
    }
    .icon-link a{
        font-size: x-large;
        margin-bottom: 20rem;
        letter-spacing: 10px;
    }
    .link-1{
        border: 2px solid;
        background: black;
        width: 5rem;
    }
    .link-2{
        border: 2px solid;
        background: rgb(90, 88, 88);
        width: 6rem;
    }
    .icon-link1{
        width: 25%;
        position:static;
        margin-right: 4rem;
        margin-top: 6rem;
    }
}













/* #/----media qurey------#/ */
/* *{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1440px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
} 
ul li{
    list-style-type: none;
}

ul{
    display: flex;
}
.navbar1{
    display: flex;
    padding-top: 4rem;
    padding-left: 10rem;
    width: 60%;
    background-image: url(/Image/image-hero1.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-wrapper{
    margin-right: 5rem;
}
.writeup-blog{
    width: 40%;
    padding: 3rem;
}
.contain-wrapper{
    display: flex;
}
.writeup-blog h1{
    margin-bottom: 4rem;
}
.contain-wrapper2{
    display: flex;
}
.writeup-blog2 h1{
    font-size:x-large;
    margin-top: 2rem;
    text-align: center;
}
.writeup-blog2 p{
margin-top: 2rem;
font-family: 'Roboto', sans-serif;
color: rgb(180, 173, 173);
text-align:center
}
.writeup-blog p{
    font-family: 'Roboto', sans-serif;
    color: rgb(180, 173, 173);
}
.icon-link{
    padding-top: 9rem;
}
.icon-link a{
    text-decoration: none;
    text-align: center;
    color: rgb(212, 206, 206);
}
.writeup-blog h1{
    font-family: 'Roboto', sans-serif;
    font-size:xx-large
}
.icon-link a{
    font-size: x-large;
    letter-spacing: 10px;
}
.icon-link1{
    display: flex;
}
.link-1{
    border: 2px solid;
    background: black;
    width: 5rem;
}
.link-2{
    border: 2px solid;
    background: rgb(90, 88, 88);
    width: 5rem;
} */


/*-------Other way to style--------*/
 /* body{
     padding: 0;
     margin: 0;
     height: 100vh;
}
.contain-wrapper{
    display: flex;
}
.contain-wrapper img{
    position: relative;
}
.navbar-wrapper{
    position: relative;
    right: 60px;
    top: 43px;
    color: #ffffff;
}
ul{
    display: flex;
}
.navbar1{
    position: relative;
    right: 45%;
    top: 15px;
}
.navbar1 ul a{
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
} */